#php_flag display_errors off
AddDefaultCharset utf-8
AddCharset utf-8 * 
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

RewriteEngine On
RewriteBase /
RewriteRule ^([^/]*)/$ /index.php?page=$1 [L]

RewriteRule ^([^/]*)/merchant/([^/]*)/$ /index.php?page=$1&merchant=$2 [L]
RewriteRule ^merchant/([^/]*)/$ /index.php?merchant=$1 [L]
RewriteRule ^city/([^/]*)/$ /index.php?city=$1 [L]
RewriteRule ^([^/]*)/([^/]*)/$ /index.php?page=$1&action=$2 [L]
RewriteRule ^map_view/([^/]*)/$ /index.php?map_view=1&city=$1 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/$ /index.php?page=$1&action=$2&id=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)/lookup/$ /index.php?page=$1&action=$2&id=$3&lookup=1 [L]
RewriteRule ^([^/]*)/([^/]*)/view/([^/]*)/$ /index.php?page=$1&action=$2&view=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/merchant/([^/]*)/$ /index.php?page=$1&action=$2&merchant=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/view/([^/]*)/lookup/$ /index.php?page=$1&action=$2&view=$3&lookup=1 [L]
RewriteRule ^([^/]*)/([^/]*)/merchant/([^/]*)/lookup/$ /index.php?page=$1&action=$2&merchant=$3&lookup=1 [L]





 # Добавляем mime-тип и кодировку
AddType 'text/css; charset=utf-8'  .css
AddType 'text/javascript; charset=utf-8'   .js
AddType 'image/x-icon; charset=utf-8' .ico
AddType 'text/html; charset=utf-8' .html .shtml
AddType 'text/xml; charset=utf-8'  .xml

# добавление сжатия файлов
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/xml image/x-icon text/css text/javascript

    # обработка "кривых" броузеров
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch Konqueror no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule mod_headers.c>
    Header append Vary User-Agent

    # разрешение кеширования файлов на стороне клиента
    <FilesMatch .*\.(css|js|php|phtml|shtml|html|xml)$>
        Header append Cache-Control private
    </FilesMatch>
</IfModule>

# включение заголовка Expires для всех файлов сроком на месяц
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    # выключение Expires для HTML-файлов и PHP-скриптов
    <FilesMatch .*\.(shtml|html|phtml|php)$>
        ExpiresActive Off
    </FilesMatch>
</IfModule>

# Выдача заголовка ETag (core feature)
FileETag MTime Size


